<!DOCTYPE html>
<html lang="en">
<head>
    <title>COVID 19 Booking System</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">
              <a class="mdl-layout-title mdl-navigation__link" href="{% url 'index' %}">COVID 19 Booking System</a>
          </span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="{% url 'profile' %}">{{ username }}</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col"></div>
              <div class="mdl-cell mdl-cell--4-col" align="center"><h2>User Profile</h2></div>
              <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col"></div>
              <div class="mdl-cell mdl-cell--4-col" align="center">
                  <table class="mdl-data-table" style="overflow: auto">
                      <tr>
                          <th>User ID</th>
                          <td>{{ id }}</td>
                      </tr>
                      <tr>
                          <th>Username</th>
                          <td>{{ name }}</td>
                      </tr>
                      <tr>
                          <th>Is Customer?</th>
                          <td>{{ is_customer }}</td>
                      </tr>
                      <tr>
                          <th>Is Receptionist?</th>
                          <td>{{ is_receptionist }}</td>
                      </tr>
                      <tr>
                          <th>Is Healthcare Worker?</th>
                          <td>{{ is_healthcare_worker }}</td>
                      </tr>
                      <tr>
                          <th>Testing Site</th>
                          <td>{{ test_site }}</td>
                      </tr>
                  </table>
              </div>
              <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col"></div>
              <div class="mdl-cell mdl-cell--4-col" align="center">
                  <h3>Bookings</h3>
              </div>
              <div class="mdl-cell mdl-cell--4-col"></div>
            </div>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col" align="center">
                  <table class="mdl-data-table" style="overflow: auto">
                      <tr>
                          <th>Booking ID</th>
                          <th>Booking PIN</th>
                          <th>Made By</th>
                          <th>Testing Site</th>
                          <th>Start Date and Time</th>
                          <th>Home?</th>
                          <th>Status</th>
                      </tr>
                      {%for booking in bookings %}
                          <tr>
                              <td>{{booking.id}}</td>
                              <td>{{booking.smsPin}}</td>
                              <td>{{booking.customer.userName}}</td>
                              <td>{{booking.testingSite.name}}</td>
                              <td>{{booking.startTime}}</td>
                              <td>{{booking.notes}}</td>
                              <td>{{booking.status}}</td>
                          </tr>
                      {% endfor %}
                  </table>
              </div>
            </div>
        </div>
      </main>
    </div>
</body>
</html>